:root {
  --white: #fff;
  --black: #2B2D42;
  --gray: #2F3249;
  --blue: #3F51B5;
  --light-gray: #36394F;
  --pink: #FF4D6D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: var(--black);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: var(--white)
}

main {
  width: 700px;
  height: 100%;
  background: var(--gray);
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  width: 265px;
  height: 52px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0 0 20px 35px;
  background: var(--black);
  color: var(--white);
  padding: 0 0 0 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 60px;
  margin-top: 64px;
}

.input-url {
  width: 571px;
  height: 52px;
}

form .button-clear {
  font-size: 16px;
  border: none;
  background: none;
  color: var(--white);
  padding: 12px;
  font-weight: bold;
}

form .button-register {
  width: 175px;
  height: 50px;
  background: var(--blue);
  border-radius: 8px;
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
}

.list {
  height: 100%;
  background: var(--light-gray);
}

.button-edit {
  width: 40px;
  height: 40px;
  background: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
}

.button-delete {
  width: 40px;
  height: 40px;
  background: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 5px;
}

